<!DOCTYPE html>
<html ng-app="papelariaWeb">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>PAPELARIA WEB</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.produto-conteudo {
	background-color: #EEE;
	padding: 20px 20px 10px 20px;
	margin-top: 30px;
}
</style>
</head>

<body>

	<div class="container" ng-controller="ProdutoController"
		data-ng-init="listarprodutos();listarcategorias();">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="produto-conteudo">
					<h1>PAPELARIA WEB-PRODUTOS</h1>

					<form name="formulario" ng-submit="processar('')">

						<div class="form-group">
							<label for="nome">NOME*</label> <input type="text"
								class="form-control" id="nome" placeholder="nome do produto"
								maxlength="30" required ng-model="produto.nome">
						</div>

						<div class="form-group">
							<label for="descricao">DESCRIÇÃO*</label> <input type="text"
								class="form-control" id="descricao"
								placeholder="descricao do produto" maxlength="50" required
								ng-model="produto.descricao">
						</div>

						<div class="form-group">
							<label for="codBarras">COD.BARRAS*</label> <input type="text"
								class="form-control" id="codBarras"
								placeholder="codigode barras do produto" maxlength="13" required
								ng-model="produto.codBarras">
						</div>

						<div class="form-group">
							<label for="detalhe">DETALHE*</label> <input type="text"
								class="form-control" id="detalhe"
								placeholder="detalhe do produto" maxlength="50"
								ng-model="produto.detalhe">
						</div>

						<div class="form-group">
							<label for="categoria">CATEGORIA*</label> <select
								name="categoria" id="categoria" required
								ng-model="produto.categoria">
								<option value="">---CATEGORIA---</option>
								<!-- not selected / blank option -->
								<option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nome}}</option>
 							</select>
						</div>

						<div class="form-group">
							<label for="precoMedio">PREÇO*</label> <input type="text"
								class="form-control" id="precoMedio"
								placeholder="precoMedio do produto" maxlength="21"
								ng-model="produto.precoMedio">
						</div>

						<div class="form-group">
							<label for="quantidade">QUANTIDADE*</label> <input type="text"
								class="form-control" id="quantidade"
								placeholder="quantidade do produto" maxlength="9" required
								ng-model="produto.quantidade">
						</div>

					<div class="form-group" align="right">
						<button type="submit"
							class="btn btn-primary"
							id="salvar" name="salvar">SALVAR</button>


						<button type="submit" class="btn btn-primary" id="limpar"
							name="limpar">LIMPAR</button>
					
					</div>
					</form>


				</div>
				<hr>
				<h1>Lista de Produtos</h1>
				<table class=" table table-striped" >
					<thead>
						<tr>
							<th>CODIGO</th>
							<th>NOME</th>
							<th>DETALHE</th>
							<th>COD.BARRAS</th>
							<th>CATEGORIA</th>
							<th>DESCRIÇÃO</th>
							<th>PREÇO</th>
							<th>QUANTIDADE</th>
						</tr>
					</thead>
					<tbody>
						<!-- Aqui serão exibidos os dados do usuários cadastrados -->
						<tr ng-repeat="produto in produtos">
							<td align="right">{{produto.id}}</td>
							<td align="left">{{produto.nome}}</td>
							<td align="left">{{produto.detalhe}}</td>
							<td align="justify">{{produto.codBarras}}</td>
							<td align="right">{{produto.categoria}}</td>
							<td align="left">{{produto.descricao}}</td>
							<td align="right">{{produto.precoMedio}}</td>
							<td align="right">{{produto.quantidade}}</td>

							<td align="right"><i id="editar"
								class="glyphicon glyphicon-edit pointer"
								ng-click="processar(produto.id)" title="editar"></i>
							</td>
							<td align="right"><i id="excluir"
								class="glyphicon glyphicon-trash pointer"
								ng-click="processar(produto.id)" title="excluir"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>


</body>

</html>
